{% include header.html %}
<div class="container">
	<div class="profile">
		<a href="{{ site.url }}"><img src="{{site.author.picture}}" class="profile-image"></a>
		<div class="profile-about">
			<h2 style="margin-bottom: 0; font-weight: 700;">A TechBlog by {{site.author.name}}</h2>
			<a href="https://twitter.com/derhansen" target="_blank"><img src="assets/images/icon/twitter.svg" class="social-icon"></a>
			<a href="https://github.com/derhansen" target="_blank"><img src="assets/images/icon/github.svg" class="social-icon"></a>
			<a href="https://www.linkedin.com/in/torben-hansen-42b8411a3/" target="_blank"><img src="assets/images/icon/linkedin.svg" class="social-icon"></a>
			<a href="https://stackoverflow.com/users/1744743/derhansen" target="_blank"><img src="assets/images/icon/stackoverflow.svg" class="social-icon"></a>
			<br>
			{{ site.author.bio }}
			<br>
			<div class="mode" id="mode-switcher" onclick="toggleNightMode();">
				<span></span>
			</div>
		</div>
	</div>
	{{ content }}
	<div class="footer">
		<span>Made with <font color="red">♥</font> by <a href="https://www.derhansen.com"><b>Torben Hansen</b></a></span>
	</div>
</div>
{% include footer.html %}