{% include header.html %}
<div class="container">
	<div class="profile">
		<a href="{{ site.url }}"><img src="{{site.author.picture}}" class="profile-image" alt="Photo of Torben Hansen"></a>
		<div class="profile-about">
			<h2 class="author">A TechBlog by {{site.author.name}}</h2>
			<a href="https://phpc.social/@derhansen" target="_blank"><img src="assets/images/icon/mastodon.svg" class="social-icon" alt="Mastodon icon"></a>
			<a href="https://twitter.com/derhansen" target="_blank"><img src="assets/images/icon/twitter.svg" class="social-icon" alt="Twitter icon"></a>
			<a href="https://github.com/derhansen" target="_blank"><img src="assets/images/icon/github.svg" class="social-icon" alt="GitHub icon"></a>
			<a href="https://www.linkedin.com/in/torben-hansen-42b8411a3/" target="_blank"><img src="assets/images/icon/linkedin.svg" class="social-icon" alt="LinkedIn icon"></a>
			<a href="https://stackoverflow.com/users/1744743/derhansen" target="_blank"><img src="assets/images/icon/stackoverflow.svg" class="social-icon" alt="StackOverflow icon"></a>
			<br>
			{{ site.author.bio }}
			<br>
			<div>
				<a href="{{ site.url }}/" class="top-link">Home</a>
				<a href="{{ site.url }}/archive/" class="top-link">Archive</a>
				<a href="{{ site.url }}/tags/" class="top-link">Tags</a>
				<div class="mode" id="mode-switcher" onclick="toggleNightMode();">
					<span></span>
				</div>
			</div>
		</div>
	</div>
	{{ content }}
	<div class="footer">
		<span>Made with <font color="red">♥</font> by <a href="https://www.derhansen.com"><b>Torben Hansen</b></a> - <a href="{{ site.url }}/legal/">Legal information and contact</a></span>
	</div>
</div>
{% include footer.html %}